<a href="https://colab.research.google.com/github/yenee/class/blob/main/report.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1.Loading package

In [17]:
import pingouin as pg
import pandas as pd
import io

In [ ]:
!pip install pingouin

#2.Reading data

In [19]:
from google.colab import files
uploaded = files.upload()

Saving mediandata.csv to mediandata (1).csv

In [20]:
df2 = pd.read_csv(io.BytesIO(uploaded['mediandata.csv']), encoding= 'unicode_escape')
df2
# Dataset is now stored in a Pandas Dataframe

      outbreak  FF  MD  FW  FO  WL  UB  WB  BU  BL  land  water
0            0   0   0   0   0   1   1   1   0   0     1      0
1            0   1   1   0   1   0   1   0   1   0    25      0
2            0   0   0   0   1   1   1   1   0   0     9      1
3            1   0   1   0   0   1   1   1   0   0     0      1
4            1   1   1   0   1   0   0   0   1   0     3      0
...        ...  ..  ..  ..  ..  ..  ..  ..  ..  ..   ...    ...
1068         0   1   0   0   1   0   1   0   1   0     1      0
1069         0   1   1   0   1   1   1   1   1   0     1      0
1070         0   1   0   0   1   0   1   0   1   0     2      1
1071         0   1   0   0   1   1   1   1   1   0     1      0
1072         0   1   0   0   1   0   0   0   1   0     1      0

[1073 rows x 12 columns]

#3.LMG

In [28]:
lm = pg.linear_regression(df2[['FF','MD','FW','FO','WL','UB','WB','BU','BL']], df2['outbreak'],relimp=True)
lm

,names,coef,se,T,pval,r2,adj_r2,CI[2.5%],CI[97.5%],relimp,relimp_perc
0,Intercept,0.366278,0.042545,8.609120,2.617303e-17,0.157398,0.150264,0.282795,0.449760,NaN,NaN
1,FF,0.057464,0.027565,2.084694,3.733532e-02,0.157398,0.150264,0.003377,0.111552,0.003221,2.046439
2,MD,0.012137,0.026254,0.462274,6.439798e-01,0.157398,0.150264,-0.039379,0.063653,0.000218,0.138815
3,FW,0.154615,0.033490,4.616773,4.373395e-06,0.157398,0.150264,0.088901,0.220328,0.046472,29.525277
4,FO,-0.182265,0.045299,-4.023566,6.138306e-05,0.157398,0.150264,-0.271151,-0.093379,0.048157,30.595884
5,WL,0.074488,0.040215,1.852223,6.427084e-02,0.157398,0.150264,-0.004423,0.153398,0.003105,1.973010
6,UB,-0.153740,0.027368,-5.617606,2.471568e-08,0.157398,0.150264,-0.207441,-0.100040,0.017952,11.405147
7,WB,-0.052249,0.044835,-1.165364,2.441332e-01,0.157398,0.150264,-0.140223,0.035726,0.002074,1.317743
8,BU,-0.086350,0.045378,-1.902913,5.732183e-02,0.157398,0.150264,-0.175391,0.002690,0.035641,22.644109
9,BL,-0.015358,0.072008,-0.213276,8.311528e-01,0.157398,0.150264,-0.156652,0.125937,0.000557,0.353576